<template>
    <div class="row">
        <div class="card-content center">
            <span class="card-title red-text text-darken-4">Perfil: {{ user.username }}
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button v-if="user.is_active" class="btn btn-small red darken-4" title="Eliminar" @click.prevent="deletePerson()"><i class="fa fa-times"></i></button>
                &nbsp;&nbsp;
                <button @click="$router.push('/person/')" class="btn btn-small cyan darken-4" title="Regresar"><i class="fa fa-reply"></i></button>
            </span>
        </div>
        <div class="card-content row">
            <div class="container">
                <div class="col s12">
                  <DataBasic/>
              </div>
              <div class="col s12">
                  <br>
                  <DataAdditional/>
              </div>
              <div class="col s12">
                  <br>
                  <DataSecurity/>
              </div>
              <div class="col s12">
                  <br>
                  <DataHistoryLogin/>
              </div>
            </div>
        </div> 
    </div>
</template>

<script>
import swal from "sweetalert2";
import Navbar from "../../ext_components/Navbar.vue";
import fetch from "../../../helpers/Fetch.js";
import { eventBus } from "../../../helpers/EventBus.js";
import Preload from "../../../methods/preloader.js";
import Account from "../../../methods/Account.js";
import Delete from "../../../methods/Delete.js";
import DataBasic from "./DetailPerson/DataBasic.vue";
import DataAdditional from "./DetailPerson/DataAdditional.vue";
import DataSecurity from "./DetailPerson/DataSecurity.vue";
import DataHistoryLogin from './DetailPerson/DataHistoryLogin.vue';
export default {
  name: "personProfile",
  components: {
    Navbar,
    DataBasic,
    DataAdditional,
    DataSecurity,
    DataHistoryLogin
  },
  data() {
    return {
      token: localStorage.getItem("token"),
      user: {}
    };
  },
  created() {
    Preload();
    this.getUserByPk(this.$route.params.pk);
  },
  methods: {
    async getUserByPk(pk) {
      let data = await Account.getAccountByPk(pk, this.token);
      if(data.detail) {
        swal("No Encontrado!", "Persona No Encontrada", "error");
        this.$router.push("/person/")
      }
      this.user = data;
      eventBus.$emit("user-detail", data);
    },
    deletePerson() {
      Delete();
      eventBus.$on("delete", async data => {
        if (data) {
          let pk = { pk: this.user.pk };
          let deleteUser = await Account.removeAccount(pk, this.token);
          if (deleteUser.success) {
            swal("Eliminado!", "Persona Eliminada", "success");
            this.$router.push("/person");
          }
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
label {
  font-size: 20px;
  color: #000;
}
</style>
