<template>
    <div class="card-content">
        <h3 class="center red-text text-darken-4 options">Persona
          &nbsp;&nbsp;
          <button class="btn btn-small cyan" @click.prevent="addPerson()"><i class="fa fa-plus"></i></button>
        </h3> 
        
        <div class="container options">
            <div class='input-field col s12'>
                <input class="validate" type='search' name='search' id='id_search' autocomplete="off" title="Buscar" v-model="search" @keyup="filteredPerson"/>
                <label class="red-text text-darken-4" for='id_search'>Buscar Persona</label>
            </div>
        </div>
        <table v-if="persons.length > 0">
            <thead>
                <th>#</th>
                <th>Rif/Ci</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Estado</th>
                <th class="options">Opciones</th>
            </thead>
            <tbody>
                <tr v-for="(person, index) in persons" :key="person.pk" @dblclick="showData(person.pk)" >
                    <td>{{ index+1 }}</td>
                    <td>{{ person.type_rif_ci }}-{{ person.rif_ci }}</td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.last_name }}</td>
                    <td>
                      <i :class="[person.is_active 
                        ? 'fa fa-square fa-2x green-text'
                        : 'fa fa-square fa-2x red-text text-darken-4']"
                        :title="[person.is_active
                        ? 'Persona Activa'
                        : 'Persona Desactivada']"
                        aria-hidden="true" ></i>
                    </td>
                    <td class="options">
                        <a class="btn btn-small hoverable" @click="showData(person.pk)" title="Ver Perfil"><i class="fa fa-eye"></i></a>
                        <a v-if="person.is_active" class="btn btn-small red darken-4 hoverable" @click="deleteData(person.pk)" title="Eliminar Persona"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                </tbody>
        </table>
        <div class="row options">
            <div class="col m6 s12">
                <ul class="pagination">
                    <li v-if="currentPage > 1"><a @click="page(currentPage - 1)">Anterior</a></li>
                    <li v-else class="disabled"><a>Anterior</a></li>
                    <li v-for="count in counts" :key="count" :class="[ currentPage == count ? 'active' : '' ]"><a @click="page(count)">{{ count }}</a></li>
                    <li v-if="currentPage < counts"><a @click="page(currentPage + 1)">Siguiente</a></li>
                    <li v-else class="disabled"><a>Siguiente</a></li>
                </ul>
            </div>
            <div class="col m6 s12">
                <h5><b class="red-text text-darken-4">{{ persons.length }} </b> {{ messageLen }}</h5>
            </div>
        </div>
    </div> 
</template>

<script>
import swal from "sweetalert2";
import Navbar from "../../ext_components/Navbar.vue";
import fetch from "../../../helpers/Fetch.js";
import { eventBus } from "../../../helpers/EventBus.js";
import init from "../../../methods/init.js";
import Account from "../../../methods/Account.js";
import Delete from "../../../methods/Delete.js";
export default {
  name: "person",
  data() {
    return {
      token: localStorage.getItem("token"),
      persons: [],
      counts: 0,
      search: "",
      currentPage: 1
    };
  },
  components: {
    Navbar
  },
  created() {
    this.getListPerson();
  },
  mounted() {
    init();
    document.title = "Insopesca | Persona";
  },
  methods: {
    async getListPerson() {
      let accounts = await Account.getAccounts(this.token);
      this.persons = accounts.results;
      this.countPage(accounts.count);
    },
    async page(count) {
      let page = await Account.pageAccount(count, this.search, this.token);
      this.currentPage = count;
      this.persons = page.results;
      this.countPage(page.count);
    },
    countPage(count) {
      let limit = 30;
      this.counts = Math.ceil(count / limit);
      return;
    },
    async filteredPerson() {
      let data = await Account.filteredAccount(this.search, this.token);
      this.persons = data.results;
      this.countPage(data.count);
    },
    showData(pk) {
      this.$router.push(`/person/profile/${pk}`);
    },
    deleteData(pk) {
      Delete();
      eventBus.$on("delete", async data => {
        if (data) {
          let deleteUser = await Account.removeAccount({ pk }, this.token);
          if (deleteUser.success) {
            swal("Eliminado!", "Persona Eliminada", "success");
            this.getListPerson();
          }
        }
      });
    },
    addPerson() {
      this.$router.push("/person/add");
    }
  },
  computed: {
    messageLen() {
      return this.persons.length >= 9
        ? " Resultados Econtrados"
        : " Resultado Econtrado";
    }
  }
};
</script>

<style lang="scss" scoped>
.wrapper {
  display: grid;
}
$color-red: #b71c1c;
$color-blue: #085591;
table {

  @media (min-width: 100px) and (max-width: 600px) {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  th,
  td {
    border-radius: 0px !important;
    padding: 20px 50px;

    @media (min-width: 320px) and (max-width: 1024px) {
      padding: 15px 20px;
    }

    @media (min-width: 0px) and (max-width: 319px) {
      padding: 10px 0px;
    }
  }

  thead {
    background-color: $color-blue;
    border-bottom: solid 5px $color-red;
    color: white;
  }

  tr {
    border-bottom: solid 0px;
    &:nth-child(even) {
      background-color: #ddd;
    }
    &:hover {
      background-color: #f5cccd;
      color: white;
    }
  }
}

.btn-add {
  display: none;
  float: right;
}
</style>
