<template>
  <div>
    <Navbar></Navbar>
      <div class="opacity_back">
          <div class="container-fluid">
              <div class="row">
                  <div class="col s12">
                      <div class="card">
                          <router-view></router-view>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>    
</template>

<script>
import Navbar from "../../ext_components/Navbar.vue";
import PersonList from "./PersonList.vue";
import init from "../../../methods/init.js";
import Preload from "../../../methods/preloader.js";
export default {
  name: "person",
  data() {
    return {
    }
  },
  components: {
    Navbar,
    PersonList
  },
  created() {
    Preload();
  },
  mounted(){
      init()
      document.title = 'Insopesca | Persona';
      console.log(this.$router)
  }
};
</script>

<style lang="scss" scoped>

</style>
