<template>
    <div class="card-content">
        <h3 class="center red-text text-darken-4"> Añadir Persona</h3> 
        <form action="" method="post" @submit.prevent="saveData()">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="col m6 s12 input-field">
                            <select class="validate select" name="type_rif_ci" id="id_type_rif_ci" v-model="data.type_rif_ci">
                                <option value="" disabled selected>Tipo Rif o Cedula</option>
                                <option value="V">V-</option>
                                <option value="E">E-</option>
                            </select>
                            <label>Tipo Rif o Cedula 
                                <span class="red-text text-darken-4">*</span>
                            </label>
                            <span class="helper-text red-text" :data-error="errorData.type_rif_ci" v-show="errorData.type_rif_ci"></span>
                        </div>
                        <div class="col m6 s12 input-field">
                            <input type="number" class="validate" name="rif_ci" id="id_rif_ci" required title="Rif o Cedula" @blur="validateDataRequired" @keypress="validInput('n', 9, $event)" v-model="data.rif_ci">
                            <label for="id_rif_ci">Rif o Cedula
                                <span class="red-text text-darken-4">*</span>
                            </label>
                            <span class="helper-text red-text" :data-error="errorData.rif_ci" v-show="errorData.rif_ci"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6 s12 input-field">
                            <input type="text" class="validate" name="name" id="id_name" required title="Nombres" @blur="validateDataRequired" @keypress="validInput('l', 50, $event)" v-model="data.name">
                            <label for="id_name">Nombres
                                <span class="red-text text-darken-4">*</span>
                            </label>
                            <span class="helper-text red-text" :data-error="errorData.name" v-show="errorData.name"></span>
                        </div>
                        <div class="col m6 s12 input-field">
                            <input type="text" class="validate" name="last_name" id="id_last_name" required title="Apellidos" @blur="validateDataRequired" @keypress="validInput('l', 50, $event)" v-model="data.last_name">
                            <label for="id_last_name">Apellidos
                                <span class="red-text text-darken-4">*</span>
                            </label>
                            <span class="helper-text red-text" :data-error="errorData.last_name" v-show="errorData.last_name"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6 s12 input-field">
                            <input type="email" class="validate" name="email" id="id_email" v-model="data.email">
                            <label for="id_email">Correo Electronico</label>
                        </div>
                        <div class="col m6 s12 input-field">
                            <input type="text" class="validate" name="username" id="id_username" required title="Nombre De Usuario" @blur="validateDataRequired" @keypress="validInput('g', 20, $event)" v-model="data.username">
                            <label for="id_username">Nombre De Usuario
                                <span class="red-text text-darken-4">*</span>
                            </label>
                            <span class="helper-text red-text" :data-error="errorData.username" v-show="errorData.username"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6 s12 input-field">
                            <select class="validate select" name="sex" id="id_sex" v-model="data.sex">
                                <option value="" disabled selected>Sexo</option>
                                <option value="MASCULINO">MASCULINO</option>
                                <option value="FEMENINO">FEMENINO</option>
                            </select>
                            <label>Sexo
                                <span class="red-text text-darken-4">*</span>
                            </label>
                            <span class="helper-text red-text" :data-error="errorData.sex" v-show="errorData.sex"></span>
                        </div>
                        <div class="col m6 s12 input-field">
                            <input type="number" class="validate" name="phone" id="id_phone" @keypress="validInput('n', 11, $event)" v-model="data.phone">
                            <label for="id_phone">Telefono</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6 s12 input-field">
                            <textarea class="validate materialize-textarea" name="address" id="id_address" rows="1" v-model="data.address" @keypress="validInput('g', 10000, $event)"></textarea>
                            <label for="id_address">Dirección</label>
                        </div>
                         <div class="col m6 s12 input-field">
                            <input type="text" class="validate datepicker" name="birthday" id="id_birthday" required title="Fecha De Nacimiento" @blur="validateDataRequired" @change="getBirthday($event)" v-model="data.birthday">
                            <label for="id_birthday">Fecha De Nacimiento
                                <span class="red-text text-darken-4">*</span>
                            </label>
                            <span class="helper-text red-text" :data-error="errorData.birthday" v-show="errorData.birthday"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m3 s6 input-field">
                            <p>
                                <label>
                                    <input type="checkbox" name="is_superuser" id="id_is_superuser" v-model="data.is_superuser" @change="dataLevel()"/>
                                    <span>Super Usuario</span>
                                </label>
                            </p>
                        </div>
                        <div class="col m3 s6 input-field">
                            <p>
                                <label>
                                    <input type="checkbox" name="is_active" id="is_active" v-model="data.is_active"/>
                                    <span>Es Activo</span>
                                </label>
                            </p>
                        </div>
                        <div class="col m6 s12 input-field" v-show="!data.is_superuser">
                            <select class="validate select" name="level" id="id_level" title="Level" @blur="validateDataRequired" v-model="data.level">
                                <option value="" disabled selected>Level</option>
                                <option value="is_coordinator">Coordinador</option>
                            </select>
                            <label>Level 
                                <span class="red-text text-darken-4">*</span>
                            </label>
                            <span class="helper-text red-text" :data-error="errorData.level" v-show="errorData.level"></span>
                        </div>
                    </div>
                    <br />
                    <center>
                        <div class="row">
                            <div class="col s6">
                                <button type='submit' class='btn waves-effect yellow darken-4 hoverable col s12'>Aceptar <i class="fa fa-floppy-o"></i></button>
                            </div>
                            <div class="col s6">
                                <button type="button" @click="$router.go(-1)" class="btn waves-effect red darken-4 hoverable col s12">Regresar <i class="fa fa-reply"></i></button>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
        </form>
        <div class="card-action">
                <p><span class="red-text text-darken-4"> <i class="fa fa-info-circle"></i> </span> Los Campos Con <span class="red-text text-darken-4"> * </span> Son Requeridos</p>
                <p><span class="red-text text-darken-4"> <i class="fa fa-info-circle"></i> </span> Tenga En Cuenta Que Al Momento De Crear Una Persona Su Clave Sera Su Misma Cedula</p>
        </div>
    </div>
</template>

<script>
import swal from "sweetalert2";
import Account from "../../../methods/Account.js";
import init from "../../../methods/init.js";
import ValidInput from "../../../helpers/ValidInput.js";
export default {
  name: "personAdd",
  mounted() {
    init();
  },
  data() {
    return {
      token: localStorage.getItem("token"),
      data: {
        type_rif_ci: "",
        rif_ci: "",
        name: "",
        last_name: "",
        email: "",
        birthday: "",
        sex: "",
        phone: "",
        address: "",
        is_active: true,
        is_superuser: false,
        level: ""
      },
      errorData: {
        type_rif_ci: "",
        rif_ci: "",
        name: "",
        last_name: "",
        birthday: "",
        sex: "",
        username: "",
        level: ""
      }
    };
  },
  methods: {
    validInput(type, max, event) {
      ValidInput(type, max, event);
    },
    validateDataRequired(e) {
      let input = e.target;
      if (input.value == "")
        this.errorData[input.name] = `Campo Requerido ${input.title}`;
    },
    getBirthday(e) {
      return (this.data.birthday = e.target.value);
    },
    dataLevel() {
      if (this.data.is_superuser) {
        return (this.data.level = "");
      }
    },
    async saveData() {
      let error = false;
      if (
        this.data.type_rif_ci == "" ||
        this.data.rif_ci == "" ||
        this.data.name == "" ||
        this.data.last_name == "" ||
        this.data.birthday == "" ||
        this.data.sex == "" ||
        this.data.username == ""
      ) {
        swal({
          type: "error",
          text: "Algunos Campos Son Requeridos",
          showConfirmButton: true,
          timer: 1500
        });
        return (error = true);
      }
      if (!this.data.is_superuser && this.data.level == "") {
        swal({
          type: "error",
          text: "Level Es Requerido",
          showConfirmButton: true,
          timer: 1500
        });
        return (error = true);
      }
      if (!error) {
        let data = await Account.addAccount(this.data, this.token);
        if (data.success) {
          swal({
            type: "success",
            text: data.msg,
            showConfirmButton: false,
            timer: 2000
          });
          this.$router.push(`/person/profile/${data.data.pk}`)
        } else {
          swal({
            type: "error",
            text: data.msg,
            showConfirmButton: true
          });
        }
      }
    }
  }
};
</script>

<style>
</style>
