<template>
    <div :class="divClass">
        <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" :src="img">
            </div>
            <div class="card-content">
                <span v-text="namePerson"></span>
                <div class="center">
                    <ul class="social-icons">
                        <li><a :href="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a :href="twiter"><i class="fa fa-twitter"></i></a></li>
                        <li><a :href="instagram"><i class="fa fa-instagram"></i></a></li>
                        <br>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'card',
    props: [
        "divClass",
        "img",
        "namePerson",
        "facebook",
        "twiter",
        "instagram"
    ]
}
</script>

<style lang="scss" scoped>
ul.social-icons {
  margin-top: 1em;
  
  li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    
    i.fa {
      color: #fff;
      background:#0a0a0a;
      width: 30px;
      height: 30px;
      font-size: 20px;
      line-height: 31px;
      text-align: center;
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      &:hover {
        background: #b71c1c;
      }
    }
    
  }
}
</style>
