<template>
    <div>
        <nav class="white" role="navigation" style="height:115px;" id="inicio">
            <div class="nav-wrapper container" id="index">
                <a id="logo-container" href="#!" class="brand-logo hoverable" style="margin-top:5px;">
                    <img src="../../assets/logo.png" height="100">
                </a>
                <ul class="hide-on-med-and-down right">
                    <li-vue :name="'Inicio'" :href="'#index'"></li-vue>
                    <li-vue :name="'Sobre Nosotros'" :href="'#about'"></li-vue>
                    <li-vue :name="'Misíon y Visión'" :href="'#mivi'"></li-vue>
                    <li-vue :name="'Nuestro Personal'" :href="'#personal'"></li-vue>
                    <li class="m_top">
                        <router-link to="/login" class="blue-text text-darken-4 hoverable" >Iniciar Sesión</router-link>
                    </li>
                </ul>

                <ul id="nav-mobile" class="sidenav ">
                    <li class="center">
                        <div class="background">
                            <img src="../../assets/logo.png" width="200" height="180">
                        </div>
                    </li>
                    <li>
                        <div class="divider"></div>
                    </li>
                    <li-vue :name="'Inicio'" :href="'#index'"></li-vue>
                    <li-vue :name="'Sobre Nosotros'" :href="'#about'"></li-vue>
                    <li-vue :name="'Misíon y Visión'" :href="'#mivi'"></li-vue>
                    <li><router-link to="/login">Iniciar Sesión</router-link></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger" style="margin-top: 4%;
                    font-size: 60px;"><i class="fa fa-bars"></i></a>
            </div>
        </nav>
        <div class="line red darken-2"></div>
        <parallax img="img/back1.jpeg" text1="INSOPESCA" text2="Unete a Insopesca y encaminate a ser un Acuicultor reconocido."></parallax>
        <div class="container" id="about">
            <div class="section">
                <div class="row">
                    <div class="col s12">
                        <h3 class="center">Sobre Nosotros</h3>
                        <p class="flow-text justify">
                            El Instituto Socialista de la Pesca y Acuicultura (Insopesca) es un organismo adscrito al Ministerio del Poder Popular de
                            Pesca y Acuicultura (MinPesca). Es el brazo ejecutor institucional del Decreto con Rango, Valor y
                            Fuerza de Ley de Pesca y Acuicultura, cuyos pilares son los principios del desarrollo sustentable
                            con una visión socialista enmarcada en el modelo que impulsó el Comandante Presidente de la República
                            Bolivariana de Venezuela, Hugo Chávez Frías.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="line red darken-2"></div>
        <parallax text1="Somos la Sub-Gerencia De Guanare" img="img/back2.jpg"></parallax>
        <div class="container" id="mivi">
            <div class="section">
                <div class="row">
                    <div class="col l6 s12">
                        <h3 class="center">Misión</h3>
                        <p class="justify" style="font-size:20px;">
                            Ordenación de los Recursos Pesqueros y Acuícolas del país con el fin de lograr su aprovechamiento responsable y sostenible,
                            en concordancia con el marco legal vigente, ejecutando las políticas en la materia dictadas por el
                            Ministerio del Poder Popular de Pesca y Acuicultura (MinPesca), para fomentar, promover, desarrollar
                            y coordinar las actividades del sector, en función del logro de los objetivos contenidos en los planes
                            de desarrollo económicos y sociales de la Nación.
                        </p>
                    </div>
                    <div class="col l6 s12">
                        <h3 class="center">Visión</h3>
                        <p class="justify" style="font-size:20px;">
                            Ser el ente oficial promotor y ejecutor de las políticas de Estado que garanticen el desarrollo del sector pesquero y acuícola,
                            en el ámbito nacional e internacional, con el fin de prestar servicios de alta calidad, eficientes
                            y con personal altamente calificado, comprometido con el logro de los objetivos propuestos y capaz
                            de responder oportunamente a los retos y expectativas que impone el cumplimiento de su misión.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="line red darken-2"></div>
        <parallax text1="Nuestro Personal Siempre Esta Disponible a Cualquier Duda" img="img/back4.jpg"></parallax>
        <div class="container" id="personal">
            <h3 class="center">Nuestro Personal</h3>
            <div class="section">
                <div class="row">
                    <card-vue divClass="col l4 m6 s12" img="img/person.jpg" namePerson="Persona 1"></card-vue>
                    <card-vue divClass="col l4 m6 s12" img="img/person.jpg" namePerson="Persona 2"></card-vue>
                    <card-vue divClass="col l4 m6 s12" img="img/person.jpg" namePerson="Persona 3"></card-vue>
                    <card-vue divClass="col l4 m6 s12" img="img/person.jpg" namePerson="Persona 4"></card-vue>
                    <card-vue divClass="col l4 m6 s12" img="img/person.jpg" namePerson="Persona 5"></card-vue>
                    <card-vue divClass="col l4 m6 s12" img="img/person.jpg" namePerson="Persona 6"></card-vue>
                </div>
            </div>
        </div>
        <div class="line red darken-2"></div>
        <parallax text1="Somos la Sub-Gerencia De Guanare" img="img/back2.jpg"></parallax>
        <footer class="page-footer cyan">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h5 class="white-text">Ubicanos</h5>
                        <ul>
                            <li class="white-text">Sub-Gerente: <b> Lecenciada Hanoi Padilla</b></li>
                            <li class="white-text">Telefono</li>
                            <li class="white-text">Direccion de Insopesca que no me acuerdo</li>
                            <li class="white-text"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container center">
                    <p style="font-weight:bold;">ISOPESCA {{ year }} - SUBGERENCIA GUANARE | Todos Los Derechos Reservados</p>
                </div>
            </div>
        </footer>
        <a href="#inicio" class="btn-floating waves-effect waves-light btn-large blue ir_arriba hoverable"><i class="fa fa-arrow-up"></i></a>
    </div>
</template>

<script>
import Li from './Li.vue';
import Parallax from './Parallax.vue';
import Card from './Card.vue';
import init from '../../methods/init.js'
let date = new Date;
export default {
  name: "homepage",
  components: {
    "li-vue": Li,
    "parallax": Parallax,
    "card-vue" : Card
  },
  data() {
      return {
          year: date.getFullYear()
      }
  },
  mounted(){
      init()
      document.title = 'Insopesca';
      document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();
            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });

    let btn = document.querySelector('a[href="#inicio"]')
    if (btn) {
        window.onscroll = () => {
            if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
                btn.style.setProperty("display", "inline-block")
            } else {
                btn.style.setProperty("display", "none")
            }
        };
    }
  }

}
</script>

<style lang="scss" scoped>

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  
  .section {
    width: 100%;
    
    @media only screen and (max-width : 992px) {
      position: absolute;
      top: 6%;
    }
    
    @media only screen and (max-width : 600px) {
      top: -5px;
      font-size: 30px;
    }
  }
}

footer.page-footer {
  margin: 0;
}

.line{
  height: 5px;
  padding: 0px 0px 3px;
}

.justify {
  text-align: justify;
}

.ir_arriba {
  display: none;
  float: right; 
  position: fixed; 
  bottom: 0; 
  right:20px;
  margin-bottom: 15px;
}
.m_top {
  margin-top: 30px
} 
</style>
