<template>
  <li class="m_top"><a class="blue-text text-darken-4 hoverable" :href="href" v-text="name"></a></li>
</template>

<script>
export default {
  name: "Li",
  props:[
      "href",
      "name"
  ]
};
</script>

<style lang="scss" scoped>

</style>
