<template>
     <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center blue-text text-darken-4" style="font-weight: bold;
                    text-shadow: -2px -4px 0px black;" v-text="text1"></h1>
                <div class="row center">
                    <h2 class="header col s12 black-text" style="font-weight: bold; font-size: 40px;" v-text="text2"></h2>
                </div>
                <br><br>
            </div>
        </div>
        <div class="parallax" style="background-color: rgb(255,255,255); opacity: 0.7;">
            <img :src="img" alt="">
        </div>
    </div>
</template>

<script>
export default {
    name: "paralax",
    props:[
        "text1",
        "text2",
        "img"
        
    ]
}
</script>

<style lang="scss" scoped>

</style>
