<template>
<!-- <form action="" method="post" @submit.prevent="saveDataAdi()">
    <label>
        <button class="btn btn-small cyan hoverable"><i class="fa fa-pencil"></i></button>
    </label>
    <ul class="collection">
        <li class="collection-item"><b>Tipo: <span class="red-text text-darken-4"> *</span></b> Personal </li>
        <li class="collection-item"><b>Fecha De Nacimiento: <span class="red-text text-darken-4"> * </span></b> {{ user.birthday }} </li>
        <li class="collection-item"><b>Sexo: <span class="red-text text-darken-4"> *</span></b> {{ user.sex }} </li>
        <li class="collection-item"><b>Telefono: <span class="red-text text-darken-4"> *</span></b> {{ user.phone }} </li>
    </ul>
</form> -->
    <form action="" method="POST" @submit.prevent="saveDataBasic()">
        <label>Información Adicional
            <span v-if="showInput">
            <button type="submit" class="btn btn-small yellow darken-4 hoverable"><i class="fa fa-floppy-o"></i></button>
            <button type="button" @click.prevent="cleanDataBasic()" class="btn btn-small red darken-4 hoverable"><i class="fa fa-times"></i></button>
            </span>
            <button v-else @click.prevent="showDataBasic()" type="button" class="btn btn-small cyan hoverable"><i class="fa fa-pencil"></i></button>
        </label>
        <ul class="collection">
            <li class="collection-item">
                <b>Fecha De Nacimiento: <span class="red-text text-darken-4"> *</span></b>
                <span v-show="showInput"><input type="text" name="birthday" id="id_birthday" class="validate datepicker" v-model="user.birthday" autocomplete="off" required></span>
                <span v-show="!showInput">{{ user.birthday }}</span>
            </li>
            <li class="collection-item">
                <b>Sexo: <span class="red-text text-darken-4"> *</span></b> 
                <span v-show="showInput">
                    <select class="validate select" v-model="user.sex">
                        <option value="MASCULINO">MASCULINO</option>
                        <option value="FEMENINO">FEMENINO</option>
                    </select>
                </span>
                <span v-show="!showInput">{{ user.sex }}</span>
            </li>
            <li class="collection-item">
                <b>Telefono: </b>
                <span v-show="showInput"><input type="number" name="phone" id="id_phone" class="validate" v-model="user.phone" autocomplete="off" @keypress="validInput('n', 11, $event)"></span>
                <span v-show="!showInput">{{ user.phone }}</span>
            </li>
            <li class="collection-item">
                <b>Dirección: </b>
                <span v-show="showInput">
                    <textarea name="address" id="id_address" cols="2" autocomplete="off" v-model="user.address" class="validate materialize-textarea" @keypress="validInput('g', 5000, $event)"></textarea>
                </span>
                <span v-show="!showInput">{{ user.address }}</span>
            </li>
        </ul>
    </form>
</template>

<script>
import fetch from "../../../../helpers/Fetch";
import { eventBus } from "../../../../helpers/EventBus.js";
import init from "../../../../methods/init.js";
import Account from "../../../../methods/Account.js";
import swal from "sweetalert2";
import ValidInput from "../../../../helpers/ValidInput.js";
export default {
  name: "dataAdditional",
  data() {
    return {
      token: localStorage.getItem("token"),
      showInput: false,
      user: {}
    };
  },
  created() {
    eventBus.$on("user-detail", data => (this.user = data));
  },
  mounted() {
    init();
  },
  methods: {
    async saveDataBasic() {
      let birthday = document.querySelector("#id_birthday").value;
      let error = false;
      if (this.user.birthday == "") {
        swal({
          type: "warning",
          title: "Fecha De Naciemiento No Puede Estar Vacio",
          showConfirmButton: false,
          timer: 1000
        });
        error = true;
      }
      if (this.user.sex == "") {
        swal({
          type: "warning",
          title: "Sexo No Puede Estar Vacio",
          showConfirmButton: false,
          timer: 1000
        });
        error = true;
      }
      if (!error) {
        this.user.birthday = birthday;
        let update = await Account.updateAccount(this.user, this.token);
        if (update.success) {
          this.user = update.data;
          this.showInput = false;
          swal({
            type: "success",
            title: "Datos Actualizados",
            showConfirmButton: false,
            timer: 1000
          });
          return;
        }
      }
    },
    showDataBasic() {
      this.showInput = true;
    },
    async cleanDataBasic() {
      const pk = this.user.pk;
      let data = await Account.getAccountByPk(pk, this.token);
      this.user = data;
      this.showInput = false;
    },
    validInput(type, max, event) {
      ValidInput(type, max, event);
    }
  }
};
</script>

<style lang="scss" scoped>
label {
  font-size: 20px;
  color: #000;
}
</style>
