<template>
    <form action="" method="POST" @submit.prevent="saveDataBasic()">
        <label>Información Básica
            <span v-if="showInput">
            <button type="submit" class="btn btn-small yellow darken-4 hoverable"><i class="fa fa-floppy-o"></i></button>
            <button type="button" @click.prevent="cleanDataBasic()" class="btn btn-small red darken-4 hoverable"><i class="fa fa-times"></i></button>
            </span>
            <button v-else @click.prevent="showDataBasic()" type="button" class="btn btn-small cyan hoverable"><i class="fa fa-pencil"></i></button>
        </label>
        <ul class="collection">
            <li class="collection-item">
                <b>Cedula/Rif: </b>
                <span v-show="showInput">
                    <select class="validate select" v-model="user.type_rif_ci">
                        <option value="V">V</option>
                        <option value="E">E</option>
                    </select>
                    <input type="number" name="name" id="id_name" class="validate" v-model="user.rif_ci" autocomplete="off" required @keypress="validInput('n', 9, $event)">
                </span>
                <span v-show="!showInput">{{ user.type_rif_ci }}-{{ user.rif_ci }}</span>  
            </li>
            <li class="collection-item">
                <b>Nombre: <span class="red-text text-darken-4"> *</span></b>
                <span v-if="showInput"><input type="text" name="name" id="id_name" class="validate" v-model="user.name" autocomplete="off" required @keypress="validInput('l', 50, $event)"></span>
                <span v-else>{{ user.name }}</span>
            </li>
            <li class="collection-item">
                <b>Apellido: <span class="red-text text-darken-4"> *</span></b> 
                <span v-if="showInput"><input type="text" name="last_name" id="id_last_name" class="validate" v-model="user.last_name" autocomplete="off" required @keypress="validInput('l', 50, $event)"></span>
                <span v-else>{{ user.last_name }}</span>
            </li>
            <li class="collection-item">
                <b>Correo Electronico: </b>
                <span v-if="showInput"><input type="email" name="email" id="id_email" class="validate" v-model="user.email" autocomplete="off"></span>
                <span v-else>{{ user.email }}</span>
            </li>
        </ul>
    </form>
</template>

<script>
import fetch from "../../../../helpers/Fetch";
import { eventBus } from "../../../../helpers/EventBus.js";
import init from "../../../../methods/init.js";
import Account from "../../../../methods/Account.js";
import swal from "sweetalert2";
import ValidInput from "../../../../helpers/ValidInput.js"
export default {
    name: "dataBasic",
    data() {
        return {
            token: localStorage.getItem("token"),
            showInput: false,
            user: {}
        }
    },
    created() {
        eventBus.$on('user-detail', data => this.user = data)
    },
    mounted() {
        init()
    },
    methods:{
        async saveDataBasic() {
            let error = false;
            if (this.user.rif_ci == "") {
                swal({
                    type: "warning",
                    title: "Cedula/Rif No Puede Estar Vacio",
                    showConfirmButton: false,
                    timer: 1000
                });
                error = true
            }
            if (this.user.name == "") {
                swal({
                    type: "warning",
                    title: "Nombre No Puede Estar Vacio",
                    showConfirmButton: false,
                    timer: 1000
                });
                error = true
            }
            if (this.user.last_name == "") {
                swal({
                    type: "warning",
                    title: "Apellido No Puede Estar Vacio",
                    showConfirmButton: false,
                    timer: 1000
                });
                error = true
            }
            if (!error) {
                let update = await Account.updateAccount(this.user, this.token)
                if (update.success) {
                    this.user = update.data
                    this.showInput = false
                    swal({
                        type: 'success',
                        title: 'Datos Actualizados',
                        showConfirmButton: false,
                        timer: 1000
                    })
                    return;
                }else{
                    swal({
                        type: 'error',
                        title: "Verifica Bien Los Datos Por Ejemplo: 'La Cedula Si No Esta Repetida o Algun Campo Vacio'",
                        showConfirmButton: true,
                    })
                    return;
                }
            }
        },
        showDataBasic() {
            this.showInput = true
        },
        async cleanDataBasic() {
            const pk = this.user.pk
            let data = await Account.getAccountByPk(pk, this.token)
            this.user = data
            this.showInput = false
        },
        validInput(type, max, event) {
            ValidInput(type, max, event);
        }
    }
}
</script>

<style lang="scss" scoped>
label {
    font-size: 20px;
    color: #000;
}
</style>
