<template>
   <div id="historys-login">
       <label>Historial De Inicio De Sesión</label>
       <table id="table">
            <thead>
                <th class="center">Dirección IP</th>
                <th class="center">Navegador</th>
                <th class="center">Fecha</th>
            </thead>
            <tbody class="list">
                <tr v-for="(history, index) in historys" :key="index">
                    <td class="center">{{ history.ip_address }}</td>
                    <td class="center">{{ history.navigator }}</td>
                    <td class="center">{{ dateLocale(history.created_at) }}</td>
                </tr>
            </tbody>
        </table>
   <ul class="pagination"></ul>
   </div>
</template>

<script>
import List from 'list.js';
import init from '../../../../methods/init.js';
import Account from '../../../../methods/Account.js';
import { eventBus } from "../../../../helpers/EventBus.js";
export default {
    name: "historyLogin",
    data() {
        return {
            token: localStorage.getItem('token'),
            user: {},
            historys: []
        }
    },
    created() {
        eventBus.$on('user-detail', data => {
            this.user = data
            this.getHistoryLogin(data.pk)
        })
    },
    updated() {
        const options = {
            page: 5,
            pagination: true
        };
        const userList = new List('historys-login', options);
    },
    methods: {
        async getHistoryLogin(pk) {
            let data = await Account.getHistoryLogin(pk, this.token)
            this.historys = data.results
        },
        dateLocale(date) {
            let day = new Date(date)
            return day.toLocaleString()
        }
    }
}
</script>

<style lang="scss" scoped>
label {
  font-size: 20px;
  color: #000;
}
table {
  @media (min-width: 100px) and (max-width: 600px) {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
</style>
