<template>
    <form action="" method="POST" @submit.prevent="saveDataSecurity()">
        <label>Información De Seguridad
            <span v-if="showInput">
            <button type="submit" class="btn btn-small yellow darken-4 hoverable"><i class="fa fa-floppy-o"></i></button>
            <button type="button" @click.prevent="cleanDataBasic()" class="btn btn-small red darken-4 hoverable"><i class="fa fa-times"></i></button>
            </span>
            <button v-else @click.prevent="showDataBasic()" type="button" class="btn btn-small cyan hoverable"><i class="fa fa-pencil"></i></button>
        </label>
        <ul class="collection">
            <li class="collection-item">
                <b>Esta Activo:</b>
                <span v-if="showInput">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label>
                        <input type="checkbox" name="is_active" id="is_active" v-model="user.is_active"/>
                        <span></span>
                    </label>
                </span>
                <span v-else>{{ user.is_active ? "Si" : "No" }}</span>
            </li>
            <li class="collection-item">
                <b>Es Super Usuario: </b> 
                <span v-if="showInput">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label>
                        <input type="checkbox" name="is_superuser" id="id_is_superuser" v-model="user.is_superuser" @change="dataLevel()"/>
                        <span></span>
                    </label>
                </span>
                <span v-else>{{ user.is_superuser ? "Si" : "No" }}</span>
            </li>
            <li class="collection-item" v-show="!user.is_superuser">
                <b>Level: </b>
                <span v-show="showInput">
                    <select class="validate select" v-model="user.level">
                        <option value="is_coordinator">Coordinador</option>
                    </select>
                </span>
                <span v-show="!showInput">{{ levelUser }}</span>  
            </li>
            <li class="collection-item">
                <b>Cambio La Contraseña: </b> 
                <!-- <span v-if="showInput">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label>
                        <input type="checkbox" name="change_pass" id="id_change_pass" v-model="user.change_pass"/>
                        <span></span>
                    </label>
                </span>
                <span v-else>{{ user.change_pass ? "Si" : "No" }}</span> -->
                <span>{{ user.change_pass ? "Si" : "No" }}</span>
            </li>
            <li class="collection-item">
                <b>Tiene Pregunta De Seguridad: </b> 
                <!-- <span v-if="showInput">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label>
                        <input type="checkbox" name="question" id="id_question" v-model="user.question"/>
                        <span></span>
                    </label>
                </span>
                <span v-else>{{ user.question ? "Si" : "No" }}</span> -->
                <span>{{ user.question ? "Si" : "No" }}</span>
            </li>
        </ul>
    </form>
</template>

<script>
import fetch from "../../../../helpers/Fetch";
import { eventBus } from "../../../../helpers/EventBus.js";
import init from "../../../../methods/init.js";
import Account from "../../../../methods/Account.js";
import swal from "sweetalert2";
import ValidInput from "../../../../helpers/ValidInput.js";
export default {
  name: "dataSecurity",
  data() {
    return {
      token: localStorage.getItem("token"),
      showInput: false,
      user: {}
    };
  },
  created() {
    eventBus.$on("user-detail", data => (this.user = data));
  },
  mounted() {
    init();
  },
  methods: {
    dataLevel() {
      if (this.user.is_superuser) {
        return (this.user.level = "");
      }
    },
    async saveDataSecurity() {
      let error = false;
      if (!this.user.is_superuser && this.user.level == "") {
        swal({
          type: "warning",
          title: "Level No Puede Estar Vacio",
          showConfirmButton: false,
          timer: 1000
        });
        error = true;
      }
      if (!error) {
        let update = await Account.updateAccount(this.user, this.token);
        if (update.success) {
          this.user = update.data;
          this.showInput = false;
          swal({
            type: "success",
            title: "Datos Actualizados",
            showConfirmButton: false,
            timer: 1000
          });
          return;
        }
      }
    },
    showDataBasic() {
      this.showInput = true;
    },
    async cleanDataBasic() {
      const pk = this.user.pk;
      let data = await Account.getAccountByPk(pk, this.token);
      this.user = data;
      this.showInput = false;
    },
    validInput(type, max, event) {
      ValidInput(type, max, event);
    }
  },
  computed: {
    levelUser() {
      if (this.user.level == "is_coordinator") return "Coordinador";
      else return "No Posee Un Level"
    }
  }
};
</script>

<style lang="scss" scoped>
label {
  font-size: 20px;
  color: #000;
}
</style>
