<template>
    <header id="header" class="page-topbar">
        <nav class="cyan nav-wrapper" role="navigation">
            <div class="row">
                <div class="col l2 m4 s5 bandera hide-on-med-and-down" style="padding:0;">
                    <div class="yellow accent-2 bandera_yellow"></div>
                    <div class="blue darken-4 bandera_blue"></div>
                    <div class="red accent-4 bandera_red"></div>
                </div>
                <div class="col l10">
                    <ul>
                        <li>
                            <router-link to="/dashboard" class="brand-logo hoverable">INSOPESCA</router-link>
                        </li>
                    </ul>
                </div>
                
                <ul id="slide-out" class="sidenav">
                    <li class="center">
                        <div class="background">
                            <img src="../../assets/logo.png" width="200" height="180">
                        </div>
                    </li>
                    <li>
                        <div class="divider"></div>
                    </li>
                    <li>
                        <router-link class="red-text hoverable" to="/dashboard"><i class="fa fa-tachometer red-text text-darken-4"></i>Inicio</router-link>
                    </li>
                    <li><router-link class="red-text hoverable" to="/person/"><i class="fa fa-user red-text text-darken-4"></i>Persona</router-link></li>
                    <li><router-link class="red-text hoverable" to="/company/"><i class="fa fa-building red-text text-darken-4"></i>Empresas</router-link></li>
                    <li><router-link class="red-text hoverable" to="/settings"><i class="fa fa-cog red-text text-darken-4"></i>Configuración</router-link></li>
                    <li><a href="/logout" class="red-text hoverable" @click="logout"><i class="fa fa-book red-text text-darken-4"></i>Cerrar Sesión</a></li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger red-text" style="font-size: 50px;"><i class="fa fa-bars"></i></a>
            </div>
        </nav>
            <nav class="white hide-on-med-and-down" role="navigation">
            <div class="nav-wrapper" id="id_nav_horizontal">
                <ul class="boxNav">
                    <li class="hoverable boxNav__list">
                        <router-link to="/dashboard" class="red-text boxNav__link">
                            <i class="fa fa-tachometer red-text text-darken-4"></i>
                            <span>Dashboard</span>
                        </router-link>
                    </li>
                    <li class="hoverable boxNav__list">
                        <router-link to="/person/" class="red-text boxNav__link">
                            <i class="fa fa-user red-text text-darken-4"></i>
                            <span>Persona</span>
                        </router-link>
                    </li>
                    <li class="hoverable boxNav__list">
                        <router-link to="/company/" class="red-text boxNav__link">
                            <i class="fa fa-building red-text text-darken-4"></i>
                            <span>Empresas</span>
                        </router-link>
                    </li>
                     <li class="hoverable boxNav__list">
                        <router-link to="/settings" class="red-text boxNav__link">
                            <i class="fa fa-cog red-text text-darken-4"></i>
                            <span>Configuración</span>
                        </router-link>
                    </li>
                    <li class="hoverable boxNav__list">
                        <a href="/logout" class="red-text boxNav__link" @click="logout">
                            <i class="fa fa-book red-text text-darken-4"></i>
                            <span>Cerrar Sesión</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</template>

<script>
import swal from "sweetalert2";
import preload from "../../methods/preloader.js";
import init from "../../methods/init.js";
import Account from "../../methods/Account.js";
export default {
  name: "navbar",
  async beforeCreate() {
    preload();
    let token = localStorage.getItem("token");
    let user = await Account.getAccount(token);
    if (user.detail) {
      localStorage.clear();
      this.$router.push("/login");
    } else {
      if (!user.change_pass) {
        swal({
          title: "Insopesca",
          text: `Usuario ${
            user.username
          }, Usted No a Cambiado Su Contraseña Le Recomendamos Hacerlo En La Opcion Configuración/Cambio De Contraseña`,
          type: "warning",
          allowOutsideClick: false,
          allowEscapeKey: false,
          showConfirmButton: true
        });
        this.$router.push("/settings#changePassword");
      } else if (!user.question) {
        swal({
          title: "Insopesca",
          text: `Usuario ${
            user.username
          }, Usted No Tiene Preguntas De Seguridad Le Recomendamos Hacerlo En La Opcion Configuración/Pregunta De Seguridad`,
          type: "warning",
          allowOutsideClick: false,
          allowEscapeKey: false,
          showConfirmButton: true
        });
        this.$router.push("/settings#securityQuestion");
      }
    }
  },
  methods: {
    logout(e) {
      e.preventDefault();
      swal({
        title: "Insopesca",
        text: "Esta Seguro De Cerrar Sesión",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si",
        cancelButtonText: "Volver",
        allowOutsideClick: false,
        allowEscapeKey: false
      }).then(result => {
        if (result.value) {
          localStorage.clear();
          this.$router.push("/login");
        }
      });
    }
  },
  mounted() {
    init();
  }
};
</script>

<style lang="scss" scoped>
.bandera {
  &_yellow {
    padding: 3px;
    margin-top: 11px;
    width: 16vw;
    border-color: #fafafa;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-style: solid;
    margin-left: -4px;
  }

  &_blue {
    padding: 3px;
    margin-top: 2px;
    width: 14vw;
    border-color: #fafafa;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-style: solid;
    margin-left: -4px;
  }

  &_red {
    padding: 3px;
    margin-top: 2px;
    width: 12vw;
    border-color: #fafafa;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-style: solid;
    margin-left: -4px;
  }
}
#id_nav_horizontal ul li a {
  span {
    font-size: 18px;
    margin-top: 23px;
    height: 63px;
  }

  i {
    height: 1px;
    line-height: 64px;
  }
}

.boxNav__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.4rem;
  margin-top: 0px;
  height: 64px;
}

#app > div > body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box !important;
  background: url(../../assets/logo.png) no-repeat center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.opacity_back {
  display: block;
  /* background-color: rgba(255, 255, 255, 0.7); */
  width: 100%;
  height: 100vh;
  position: absolute;
  margin: 0;

  div {
    padding: 40px;
  }
}
</style>
