<template>
    <div>
        <div class="container">
            <div class='input-field col s12'>
                <input class="validate" type='search' name='search' id='id_search' autocomplete="off" title="Buscar" v-model="search" @keyup="filteredPerson"/>
                <label class="red-text text-darken-4" for='id_search'>Buscar Persona</label>
            </div>
        </div>
        <table v-if="persons.length > 0">
            <thead>
                <th>#</th>
                <th v-for="(thead, index) in theads" :key="index" v-text="thead"></th>
            </thead>
            <tbody>
                <tr v-for="(person, index) in persons" :key="person.pk" @dblclick="showData(person.pk)">
                    <td>{{ index+1 }}</td>
                    <td>{{ person.type_rif_ci }}-{{ person.rif_ci }}</td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.last_name }}</td>
                    <!-- <td class="options">
                        <a class="btn btn-small cyan hoverable"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-small red darken-4"><i class="fa fa-times"></i></a>
                        <a class="btn btn-small"><i class="fa fa-eye"></i></a>
                    </td> -->
                </tr>
                </tbody>
        </table>
        <div class="row options">
            <div class="col m6 s12">
                <ul class="pagination">
                    <li v-if="currentPage > 1"><a @click="page(currentPage - 1)">Anterior</a></li>
                    <li v-else class="disabled"><a>Anterior</a></li>
                    <li v-for="count in counts" :key="count" :class="[ currentPage == count ? 'active' : '' ]"><a @click="page(count)">{{ count }}</a></li>
                    <li v-if="currentPage < counts"><a @click="page(currentPage + 1)">Siguiente</a></li>
                    <li v-else class="disabled"><a>Siguiente</a></li>
                </ul>
            </div>
            <div class="col m6 s12">
                <h5><b class="red-text text-darken-4">{{ persons.length }} </b> {{ messageLen }}</h5>
            </div>
        </div>
    </div>    
</template>

<script>
import fetch from "../../helpers/Fetch.js";
import init from "../../methods/init.js";
export default {
  name: "table",
  props: {
      theads: {
          required: true,
          type: Array
      },
      url: {
          type: String,
          required: true
      } 
  },
  data() {
    return {
      token: localStorage.getItem("token"),
      persons: [],
      counts: 0,
      search: "",
      currentPage: 1
    };
  },
  created() {
    this.getListPerson();
  },
  mounted(){
      init()
  },
  methods: {
    getListPerson() {
      fetch
        .getData(this.url, this.token)
        .then(data => {
          this.persons = data.results;
          this.countPage(data.count);
        })
        .catch(error => {
          console.error(error);
        });
    },
    page(count) {
      fetch
        .getData(
          `${this.url}?page=${count}&search=${this.search}`,
          this.token
        )
        .then(data => {
          this.currentPage = count;
          this.persons = data.results;
          this.countPage(data.count);
        })
        .catch(error => {
          console.error(error);
        });
    },
    countPage(count) {
      let limit = 2;
      this.counts = Math.ceil(count / limit);
      return;
    },
    filteredPerson() {
      fetch
        .getData(`${this.url}?search=${this.search}`, this.token)
        .then(data => {
          this.persons = data.results;
          this.countPage(data.count);
        });
    },
  },
  computed: {
    messageLen() {
      return this.persons.length >= 9
        ? " Resultados Econtrados"
        : " Resultado Econtrado";
    }
    // const matcher = new RegExp(this.search, 'i')
    // return this.persons.filter(person => {
    //     if (matcher.test(person.name)) return matcher.test(person.name)
    //         else if (matcher.test(person.ci)) return matcher.test(person.ci)
    //         else if (matcher.test(person.last_name)) return matcher.test(person.last_name)
    //     })
    // return person.name.toLowerCase().includes(this.search.toLowerCase())
    // return this.persons.filter(lang => lang.name.match(matcher))
  }
};
</script>

<style lang="scss" scoped>
.wrapper {
  display: grid;
}
$color-red: #b71c1c;
$color-blue: #085591;
table {
  
  th, td {
    border-radius: 0px !important;
    padding: 20px 50px;

    @media (min-width: 320px) and (max-width: 1024px) {
      padding: 15px 20px;
    }

    @media (min-width: 0px) and (max-width: 319px){
      padding: 10px 0px;
    }
  }

  thead {
    background-color: $color-blue;
    border-bottom: solid 5px $color-red;
    color: white;
  }

  tr {
    border-bottom: solid 0px;
    &:nth-child(even) {
      background-color: #ddd;
    }
    &:hover {
      background-color: #F5CCCD;
      color: white;
    }
  }
}
</style>
