<template>
    <Navbar></Navbar>
</template>

<script>
import Navbar from "../ext_components/Navbar.vue";
export default {
  name: "dashboard",
  components: {
      Navbar
  },
  mounted() {
      document.title = 'Insopesca | Inicio';
  }
};
</script>

<style lang="scss" scoped>
</style>
