<template>
<div class="cyan" style="height: 100vh;" id="main">
    <div class="section"></div>
    <main>
        <center>
            <div class="section"></div>
            <div class="container">
                <div class="z-depth-1 grey lighten-4 row hoverable" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
                    <form id="id_form" class="col s12" method="post" @submit.prevent="login">
                        <div class='row'>
                            <div class='col s12'>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='input-field col s12'>
                                <input class='validate' type='text' name='username' id='id_username' minlength="4" autocomplete="off" autofocus="on" @blur="validateDataRequired" title="Usuario" required v-model="data.username"/>
                                <label for='id_username'>Usuario</label>
                                <span class="helper-text red-text" :data-error="messageError.username" v-show="messageError.username"></span>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='input-field col s12'>
                                <input class='validate' type='password' name='password' id='id_password' minlength="8" maxlength="12" autocomplete="off" @blur="validateDataRequired" required title="Contraseña" v-model="data.password"/>
                                <label for='id_password'>Contraseña</label>
                                <span class="helper-text red-text" :data-error="messageError.password" v-show="messageError.password"></span>
                            </div>
                            <label style='float: right;'>
                                <router-link :to="{name:'forgotPassword'}" class='red-text'><b>¿Olvido La Contraseña?</b></router-link>
                            </label>
                        </div>

                        <br />
                        <center>
                            <div class="row">
                                <div class="col l12">
                                    <button type='submit' name='btn_login' class='btn btn-large waves-effect indigo hoverable col s12'>Iniciar
                                        Sesión <i class="fa fa-paper-plane"></i></button>
                                </div>
                            </div>
                            <div class='row'>
                                <div class="col l12">
                                    <router-link to="/" class="btn btn-large waves-effect red hoverable col s12">Regresar <i class="fa fa-reply"></i></router-link>
                                </div>
                            </div>
                        </center>
                    </form>
                </div>
            </div>
        </center>
    </main>
</div>
</template>

<script>
import swal from 'sweetalert2';
import fetch from '../../helpers/Fetch.js';
export default {
  name: "login",
  data() {
    return {
      data: {
        username: "",
        password: ""
      },
      messageError: {
        username: "",
        password: ""
      }
    };
  },
  methods: {
    login() {
        if(this.data.username == ""){
        swal({
                type: 'error', 
                text: 'Ingrese El Nombre De Usuario',
                showConfirmButton: false,
                timer: 1500
            })
            return false;
        };
        if (this.data.password == "") {
            swal({
                type: 'error', 
                text: 'Ingrese La Contraseña',
                showConfirmButton: false,
                timer: 1500
            })
            return false;
        };
        fetch.postData('/login/', this.data)
        .then(data =>{
            if (data.success) {
                let token = data.data.token;
                localStorage.setItem('token', token);
                this.$router.push('/dashboard');
            } else {
                swal({
                    type: 'error',
                    text: data.msg, 
                    showConfirmButton: true,
                });
            }
        })
        .catch(error => {
            console.log(error)
            swal({
                type: 'error', 
                text: 'Error En El Servidor',
                showConfirmButton: false,
                timer: 1500
            })
            return false;
        })
    },
    validateDataRequired(e) {
      let input = e.target;
      if (input.value == "") {
        this.messageError[input.name] = `Campo Requerido ${input.title}`;
      }
    },
  },
  mounted() {
      document.title = 'Insopesca | Login';
  }
};
</script>

<style>
</style>
