<template>
<div class="cyan" style="height: 100vh;" id="main">
    <div class="section"></div>
    <main>
        <center>
            <div class="section"></div>
            <div class="container">
                <div class="z-depth-1 grey lighten-4 row hoverable" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
                    <span v-if="!showContent">
                        <SendDataRecovery></SendDataRecovery>
                    </span>
                    <span v-else>
                        <RecoveryPassword :token=token></RecoveryPassword>
                    </span>
                </div>
            </div>
        </center>
    </main>
</div>
</template>

<script>
import swal from 'sweetalert2';
import fetch from '../../helpers/Fetch.js';
import SendDataRecovery from './SendDataRecovery.vue';
import RecoveryPassword from './RecoveryPassword.vue';
import { eventBus } from '../../helpers/EventBus.js';
export default {
  name: "forgotPassword",
  data() {
    return {
        showContent: false,
        token: ""
    };
  },
  components: {
      SendDataRecovery,
      RecoveryPassword
  },
  methods: {
    
  },
  mounted() {
    eventBus.$on("forgot-password", data =>{
        this.showContent = data.change
        this.token = data.uuid
    })
    document.title = 'Insopesca | Olvido Su Contraseña';
  }
};
</script>

<style>
</style>
