<template>
    <form id="id_form" class="col s12" method="post" @submit.prevent="formDataRecovery()">
        <div class='row'>
            <div class='col s12'>
            </div>
        </div>

        <div class='row'>
            <div class="col s12">
                <div class='input-field col s12'>
                    <span for='id_answer1' class="red-text text-darken-4">{{ questions[0].question }}</span>
                    <input class='validate' type='text' name='answer1' id="id_answer1" maxlength="500" autocomplete="off" autofocus="on" title="Respuesta 1" required :placeholder="questions[0].question" v-model="data[0].answer1.answer"/>
                    <span class="helper-text red-text" data-error="Campo Requerido" ></span>
                </div>
            </div>
            <div class="col s12">
                <div class='input-field col s12'>
                    <span for='id_answer2' class="red-text text-darken-4">{{ questions[1].question }}</span>
                    <input class='validate' type='text' name='answer2' id="id_answer2" maxlength="500" autocomplete="off" autofocus="on" title="Respuesta 2" required :placeholder="questions[1].question" v-model="data[1].answer2.answer"/>
                    <span class="helper-text red-text" data-error="Campo Requerido"></span>
                </div>
            </div>
            <div class="col s12">
                <div class='input-field col s12'>
                    <span for='id_answer3' class="red-text text-darken-4">{{ questions[2].question }}</span>
                    <input class='validate' type='text' name='answer3' id="id_answer3" maxlength="500" autocomplete="off" autofocus="on" title="Respuesta 3" required :placeholder="questions[2].question" v-model="data[2].answer3.answer"/>
                    <span class="helper-text red-text" data-error="Campo Requerido"></span>
                </div>
            </div>
        </div>
        <br>
        <center>
            <div class="row">
                <div class="col l12">
                    <button type='submit' class='btn btn-large waves-effect indigo hoverable col s12'> Aceptar <i class="fa fa-paper-plane"></i></button>
                </div>
            </div>
            <div class='row'>
                <div class="col l12">
                    <router-link to="/" class="btn btn-large waves-effect red hoverable col s12"> Regresar <i class="fa fa-reply"></i></router-link>
                </div>
            </div>
        </center>
    </form>
</template>

<script>
import swal from 'sweetalert2';
import fetch from '../../helpers/Fetch.js';
export default {
    name: "recoveryPassword",
    props: ['token'],
    data() {
        return {
            questions : [{},{},{}],
            data: [
                {
                    answer1: 
                    {
                        answer: "",
                        id: ""
                    }
                }, 
                {
                    answer2: 
                    {
                        answer: "",
                        id: ""
                    }
                }, 
                {
                    answer3: 
                    {
                        answer: "",
                        id: ""
                    }
                }, 
            ],
        }
    },
    methods: {
        getSecurityQuestion() {
            fetch.getData(`/recovery-password/?token=${this.token}`)
            .then(data => {
                if (data.success) {
                    this.questions = data.data.questions
                    this.data[0].answer1.id = data.data.questions[0].id
                    this.data[1].answer2.id = data.data.questions[1].id
                    this.data[2].answer3.id = data.data.questions[2].id
                }else{
                    swal({
                        type: 'error', 
                        text: data.msg,
                        showConfirmButton: true,
                    })
                    this.$router.push('/login')
                }
            })
        },
        formDataRecovery() {
            let error = false
            if (this.data[0].answer1.answer == "") {
                swal({
                    type: 'error', 
                    text: 'Ingrese La Respuesta 1',
                    showConfirmButton: true,
                })
                error = true;
            }
            if (this.data[1].answer2.answer == "") {
                swal({
                    type: 'error', 
                    text: 'Ingrese La Respuesta 2',
                    showConfirmButton: true,
                })
                error = true;
            }
            if (this.data[2].answer3.answer == "") {
                swal({
                    type: 'error', 
                    text: 'Ingrese La Respuesta 3',
                    showConfirmButton: true,
                })
                error = true;
            }
            if (!error) {
                let data = {
                    answer1: this.data[0].answer1,
                    answer2: this.data[1].answer2,
                    answer3: this.data[2].answer3,
                    token: this.token
                }
                fetch.postData("/recovery-password/", data)
                .then(data => {
                    if (data.success) {
                        swal({
                            type: 'success', 
                            text: data.msg,
                            showConfirmButton: true,
                        })
                        this.$router.push("/login")
                    }else{
                        swal({
                            type: 'error', 
                            text: data.msg,
                            showConfirmButton: true,
                        })
                    }
                })
                .catch(erro => {
                    swal({
                        type: 'error', 
                        text: "Error del Servidor",
                        showConfirmButton: true,
                    })
                })
            }
        }
    },
    created() {
        this.getSecurityQuestion()
    }
}
</script>
