<template>
    <form id="id_form" class="col s12" method="post" @submit.prevent="formDataSend()">
        <div class='row'>
            <div class='col s12'>
            </div>
        </div>

        <div class='row'>
            <div class='input-field col s12'>
                <input class='validate' type='text' name='username' id='id_username' minlength="4" autocomplete="off" autofocus="on" title="Usuario" required @blur="validateDataRequired" v-model="data.username"/>
                <label for='id_username'>Usuario</label>
                <span class="helper-text red-text" :data-error="messageError.username" v-show="messageError.username"></span>
            </div>
            <div class='input-field col s2'>
                <select class="validate select" v-model="data.type_ci">
                    <option value="V">V-</option>
                    <option value="E">E-</option>
                </select>
                <label for='id_username'>Tipo</label>
            </div>
            <div class='input-field col s10'>
                <input class='validate' type='number' name='ci' id='id_ci' minlength="7" autocomplete="off" title="Rif/Ci" maxlength="12" required @blur="validateDataRequired" v-model="data.ci"/>
                <label for='id_username'>Rif/Ci</label>
                <span class="helper-text red-text" :data-error="messageError.ci" v-show="messageError.ci"></span>
            </div>
        </div>
        <br>
        <center>
            <div class="row">
                <div class="col l12">
                    <button type='submit' class='btn btn-large waves-effect indigo hoverable col s12'> Aceptar <i class="fa fa-paper-plane"></i></button>
                </div>
            </div>
            <div class='row'>
                <div class="col l12">
                    <router-link to="/" class="btn btn-large waves-effect red hoverable col s12"> Regresar <i class="fa fa-reply"></i></router-link>
                </div>
            </div>
        </center>
    </form>
</template>

<script>
import swal from 'sweetalert2';
import fetch from '../../helpers/Fetch.js';
import init from '../../methods/init.js';
import { eventBus } from '../../helpers/EventBus.js';
export default {
    name: "sendDataRecovery",
    data() {
        return {
            messageError: {
                username: "",
                ci: "",
                type_ci: ""
            },
            data: {
                username: "",
                ci: "",
                type_ci: ""
            }
        }
    },
    methods: {
        validateDataRequired(e) {
            let input = e.target;
            if (input.value == "") {
                this.messageError[input.name] = `Campo Requerido ${input.title}`;
            }
        },
        formDataSend() {
            let error = false
            if (this.data.username == "") {
                swal({
                    type: 'error', 
                    text: 'Ingrese El Nombre De Usuario',
                    showConfirmButton: true,
                })
                error = true;
            }
            if (this.data.ci == "" || this.data.type_ci == "") {
                swal({
                    type: 'error', 
                    text: 'Ingrese Rif/Ci',
                    showConfirmButton: true,
                })
                error = true;
            }
            if (!error) {
                fetch.postData("/forgot-password/", this.data)
                .then(data =>{
                    if (data.success) {
                        swal({
                            type: 'success', 
                            text: data.msg,
                            showConfirmButton: true,
                        })
                        let dataSend = {
                            uuid: data.data.token,
                            change: true
                        }
                        eventBus.$emit("forgot-password", dataSend)
                    }else{
                        swal({
                            type: 'error', 
                            text: data.msg,
                            showConfirmButton: true,
                        })
                    }
                })
                .catch(error => {
                    swal({
                        type: 'error', 
                        text: "Error De Servidor",
                        showConfirmButton: true,
                    })
                })
            }
        }
    },
    mounted() {
        init()
    }
}
</script>

<style>

</style>
