<template>
 <div>
 <!-- <pre>
          {{ JSON.stringify($route, null, 2) }}
        </pre> -->
 <router-view></router-view>
 </div>
</template>

<script>
import init from './methods/init';
export default {
  name: 'app',
  mounted(){
    init()
  }
}

</script>

<style lang="scss">

</style>
