@import "~materialize-css/dist/css/materialize.min.css";

$color-red: #b71c1c;
$color-blue: #085591;

.sidenav-trigger {
  color: $color-blue;
}

::-webkit-scrollbar {
  width: 5px;
  height:0px;
  
  &-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  
  &-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    
    &::window-inactive {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.cyan {
  background-color: $color-blue !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance:textfield;
}


.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #e91e63 !important;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #e91e63 !important;
  box-shadow: none !important;
}

.opacity {
  width: 100vw;
	height: 100vh;
	display: block !important;
	background: url(../assets/logo.png) no-repeat center top;
	background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  
  &_back {
    display: block;
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 100vh;
    position: absolute;
    margin: 0;
  }
}

.card {
  box-shadow: 0 2px 2px 0 rgba(244, 7, 7, 0.86), 
              0 3px 1px -2px rgba(243, 6, 6, 0), 
              0 1px 5px 0 $color-blue;
}

/* calendar */
.datepicker{
  &-date-display {
    background-color: $color-blue !important; //$color-blue
  }

  &-table td.is-selected {
    background-color: $color-red;
  }

  &-row td:hover {
    color: #f57c00;
  }
  &-cancel, &-clear, &-today, &-done {
    color: #000
  } 
}
.dropdown-content li>a, .dropdown-content li>span {
  color: #000;
}

.container-fluid {
  padding: 30px;

  @media (min-width: 320px) and (max-width: 1024px) {
      padding: 0px;
  }
}

.pagination {
  
  li {
    &.active {
      background-color: $color-red !important;
    }

    &:hover:not(.active):not(.disabled) {
      background-color: $color-blue;
      color: #fff
    }

    a {
      color: #444;
      display: inline-block;
      font-size: 1.2rem;
      padding: 0 10px;
      line-height: 30px;
      cursor: pointer;
    }
  }
}
@media print {
  nav {
    display: none;
  }

  .card{
    width: 100%
  }
  .pagination {
    display: none;
  }
  .options {
    display: none;
  }
  
  table {
    width: 100%
  }
  
}

[type="radio"]:checked+span:after, 
[type="radio"].with-gap:checked+span:before, 
[type="radio"].with-gap:checked+span:after{
  border: 2px solid $color-blue;
}
[type="radio"]:checked+span:after, 
[type="radio"].with-gap:checked+span:after {
  background-color: $color-red;
}

[type="checkbox"]:checked+span:not(.lever):before {
  border-right: 2px solid $color-red;
  border-bottom: 2px solid $color-red;
}

[type="checkbox"]+span:not(.lever):before, 
[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  border: 2px solid $color-blue;
}

// .picker__today { color: #f44336 !important; }
// .picker__close { color: #f7756c !important; }
// .picker__day--infocus:hover { color: #f57c00 !important; }
// .picker--focused .picker__day--selected {
//   background-color: #e51c23 !important;
//   color: #ffffff !important; 
// }
