<template>
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content center">
                <span class="card-title red-text text-darken-4">Cambio De Contraseña</span>
            </div>
            <div class="card-content row">
                <div class="container">
                   <div class="container">
                        <form id="id_form" class="col s12" method="post" @submit.prevent="changePass()">
                            <div class='row'>
                                <div class='input-field col s12'>
                                    <input class='validate' type='password' name='old_password' id='id_old_password' minlength="8" maxlength="12" autocomplete="off" autofocus="on" title="Contraseña Antigua" required v-model="data.old_password" @blur="validateDataRequired"/>
                                    <label for='id_old_password'>Constraseña Antigua</label>
                                    <span class="helper-text red-text" :data-error="dataError.old_password" v-show="dataError.old_password"></span>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='input-field col s12'>
                                    <input class='validate' type='password' name='new_password' id='id_new_password' minlength="8" maxlength="12" autocomplete="off" title="Contraseña Nueva" required v-model="data.new_password" @blur="validateDataRequired"/>
                                    <label for='id_new_password'>Constraseña Nueva</label>
                                    <span class="helper-text red-text" :data-error="dataError.new_password" v-show="dataError.new_password"></span>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='input-field col s12'>
                                    <input class='validate' type='password' name='new_password1' id='id_new_password1' minlength="8" maxlength="12" autocomplete="off" title="Repita la Contraseña" required v-model="data.new_password1" @blur="validateDataRequired"/>
                                    <label for='id_new_password1'>Repita La Constraseña</label>
                                    <span class="helper-text red-text" :data-error="dataError.new_password1" v-show="dataError.new_password1"></span>
                                </div>
                            </div>
                            <center>
                                <div class="row">
                                    <div class="col s6">
                                        <button type='submit' class='btn waves-effect yellow darken-4 hoverable col s12'>Aceptar <i class="fa fa-floppy-o"></i></button>
                                    </div>
                                    <div class="col s6">
                                        <router-link :to="{name:'dashboard'}" class="btn waves-effect red darken-4 hoverable col s12">Regresar <i class="fa fa-reply"></i></router-link>
                                    </div>
                                </div>
                            </center>
                        </form>
                        <div class="col s12">
                            <ul>
                                <li><span class="red-text text-darken-4"> <i class="fa fa-info-circle"></i> </span> Su contraseña no puede asemejarse tanto a su otra información personal.</li>
                                <li><span class="red-text text-darken-4"> <i class="fa fa-info-circle"></i> </span> Su contraseña debe contener por lo menos 8 caracteres.</li>
                                <li><span class="red-text text-darken-4"> <i class="fa fa-info-circle"></i> </span> La contraseña no puede ser una contraseña de uso común.</li>
                                <li><span class="red-text text-darken-4"> <i class="fa fa-info-circle"></i> </span> Su contraseña no puede ser completamente numérica.</li>
                            </ul>
                        </div>
                   </div>
                </div>
            </div>
            <div class="card-action">
                <!-- <p><span class="red-text text-darken-4"> <i class="fa fa-info-circle"></i> </span>Los Campos Con <span class="red-text text-darken-4"> * </span> Son Requeridos</p> -->
            </div>
        </div>
    </div>
</div>
</template>

<script>
import swal from 'sweetalert2';
import fetch from '../../helpers/Fetch.js';
export default {
    name: "changePassword",
    data() {
        return {
            data: {
                old_password: "",
                new_password: "",
                new_password1: ""
            },
            dataError: {
                old_password: "",
                new_password: "",
                new_password1: ""
            },
            token: localStorage.getItem('token')
        }
    },
    methods: {
        changePass() {
            let error = true;
            if(this.data.old_password == ""){
                swal({
                        type: 'error', 
                        text: 'Ingrese La Contraseña Antigua',
                        showConfirmButton: true,
                        timer: 1500
                    })
                    error = false;
            };
            if(this.data.new_password == ""){
                swal({
                        type: 'error', 
                        text: 'Ingrese La Nueva Contrasela',
                        showConfirmButton: true,
                        timer: 1500
                    })
                    error = false;
            };
            if(this.data.new_password1 == ""){
                swal({
                        type: 'error', 
                        text: 'Ingrese Repita La Contraseña',
                        showConfirmButton: true,
                        timer: 1500
                    })
                    error = false;
            };
            if(this.data.new_password1 != this.data.new_password){
                swal({
                        type: 'error', 
                        text: 'La Contraseña No Coincide Con La Anterior',
                        showConfirmButton: true,
                        timer: 1500
                    })
                    error = false;
            };
            if (error) {
                fetch.putData('/change-password/', this.data, this.token)
                .then(data =>{
                    if (data.success) {
                        swal({
                            type: 'success',
                            text: data.msg, 
                            showConfirmButton: false,
                            timer: 2000
                        });
                        localStorage.clear()
                        this.$router.push("/login")
                    } else {
                        swal({
                            type: 'error',
                            text: data.msg, 
                            showConfirmButton: true,
                        });
                    }
                })
                .catch(error => {
                    swal({
                            type: 'error',
                            text: "Error En El Servidor", 
                            showConfirmButton: true,
                        });
                })
            }
        },
        validateDataRequired(e) {
            let input = e.target;
            if (input.value == "") {
                this.dataError[input.name] = `Campo Requerido ${input.title}`;
            }
        }
    }
}
</script>

<style>

</style>
