<template>
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content center">
                <span class="card-title red-text text-darken-4">Perfil: {{ dataProfile.username }} </span>
            </div>
            <div class="card-content row">
                <div class="col s6">
                    <label>Información Básica 
                        <span v-if="showInput">
                            <button @click="saveDataBasic()" class="btn btn-small yellow darken-4 hoverable"><i class="fa fa-floppy-o"></i></button>
                            <button @click="cleanData()" class="btn btn-small red darken-4 hoverable"><i class="fa fa-times"></i></button>
                        </span>
                        <button v-else @click="editDataBasic()" class="btn btn-small cyan hoverable"><i class="fa fa-pencil"></i></button>
                    </label>
                    <ul class="collection">
                        <li class="collection-item"><b>Cedula/Rif: <span class="red-text text-darken-4"> *</span></b> {{ dataProfile.rif_ci }}</li>
                        <li class="collection-item"><b>Nombre: <span class="red-text text-darken-4"> *</span></b> 
                            <span v-if="showInput"><input type="text" name="name" id="id_name" class="validate" v-model="dataProfile.name" autocomplete="off" @keypress="validInput('l', 50, $event)"></span>
                            <span v-else>{{ dataProfile.name }}</span>
                        </li>
                        <li class="collection-item"><b>Apellido: <span class="red-text text-darken-4"> *</span></b> 
                            <span v-if="showInput"><input type="text" name="last_name" id="id_last_name" class="validate" v-model="dataProfile.last_name" @keypress="validInput('l',50, $event)"></span>
                            <span v-else>{{ dataProfile.last_name }}</span>
                        </li>
                        <li class="collection-item"><b>Correo Electronico:</b> 
                            <span v-if="showInput"><input type="email" name="email" id="id_email" class="validate" v-model="dataProfile.email"></span>
                            <span v-else>{{ dataProfile.email }}</span>
                        </li>
                    </ul>
                </div>
                <div class="col s6">
                    <label>Información Adicional 
                         <span v-if="showInputA">
                            <button @click="saveDataBasic()" class="btn btn-small yellow darken-4 hoverable"><i class="fa fa-floppy-o"></i></button>
                            <button @click="cleanData()" class="btn btn-small red darken-4 hoverable"><i class="fa fa-times"></i></button>
                        </span>
                        <button v-else @click="editDataAdi()" class="btn btn-small cyan hoverable"><i class="fa fa-pencil"></i></button></label>
                    <ul class="collection">
                        <li class="collection-item"><b>Tipo:</b>
                         <span> Super Usuario</span>
                         <!-- <span v-else-if="dataProfile.is_superuser"> Super Usuario</span> -->
                        </li>
                        <li class="collection-item"><b>Fecha De Nacimiento:</b>
                            <span v-show="showInputA"><input type="text" name="birthday" id="id_birthday" class="validate datepicker" v-model="dataProfile.birthday" autocomplete="off"></span>
                            <span v-show="!showInputA">{{ dataProfile.birthday }}</span>
                        </li>
                        <li class="collection-item"><b>Sexo: <span class="red-text text-darken-4"> *</span></b>
                            <span v-show="showInputA">
                                <select class="validate select" v-model="dataProfile.sex">
                                    <option value="">Sexo</option>
                                    <option value="MASCULINO">MASCULINO</option>
                                    <option value="FEMENINO">FEMENINO</option>
                                </select>
                            </span>
                            <span v-show="!showInputA">{{ dataProfile.sex }}</span>
                        </li>
                        <li class="collection-item"><b>Telefono:</b>
                            <span v-show="showInputA"><input type="number" name="phone" id="id_phone" class="validate" v-model="dataProfile.phone" @keypress="validInput('n', 11, $event)"></span>
                            <span v-show="!showInputA">{{ dataProfile.phone }}</span>
                        </li>
                    </ul>
                </div>
            </div>
             <div class="card-action">
                <p><span class="red-text text-darken-4"> <i class="fa fa-info-circle"></i> </span>Los Campos Con <span class="red-text text-darken-4"> * </span> Son Requeridos</p>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import fetch from "../../helpers/Fetch.js";
import init from "../../methods/init.js";
import swal from "sweetalert2";
import ValidInput from "../../helpers/ValidInput.js";
export default {
  name: "profile",
  data() {
    return {
      dataProfile: "",
      showInput: false,
      showInputA: false,
      token: localStorage.getItem("token"),
      blockbutton: false
    };
  },
  methods: {
    getDataProfile() {
      fetch
        .getData("/account/", this.token)
        .then(data => (this.dataProfile = data))
        .catch(error => console.log(error));
    },
    editDataBasic() {
      this.showInput = true;
      init();
    },
    editDataAdi() {
      this.showInputA = true;
      init();
    },
    saveDataBasic() {
      let birthday = document.querySelector("#id_birthday").value;
      let save = true;
      if (this.dataProfile.name.length <= 2 || this.dataProfile.name == "") {
        swal({
          type: "warning",
          title: "Nombre No Puede Estar Vacio",
          showConfirmButton: false,
          timer: 1000
        });
        save = false;
      }
      if (
        this.dataProfile.last_name.length <= 2 ||
        this.dataProfile.last_name == ""
      ) {
        swal({
          type: "warning",
          title: "Apellido No Puede Estar Vacio",
          showConfirmButton: false,
          timer: 1000
        });
        save = false;
      }
      if (this.dataProfile.sex == "") {
        swal({
          type: "warning",
          title: "Sexo No Puede Estar Vacio",
          showConfirmButton: false,
          timer: 1000
        });
        save = false;
      }
      this.dataProfile.birthday = birthday;
      if (save == true) {
        fetch
          .putData("/account/", this.dataProfile, this.token)
          .then(data =>
            swal({
              type: "success",
              title: "Datos Actualizados",
              showConfirmButton: false,
              timer: 1000
            })
          )
          .catch(error => console.log(error));
        this.showInput = false;
        this.showInputA = false;
      }
    },
    cleanData() {
      this.getDataProfile();
      this.showInput = false;
      this.showInputA = false;
    },
    validInput(type, max, event) {
      ValidInput(type, max, event);
    }
  },
  created() {
    this.getDataProfile();
  },
  mounted() {
    init();
  }
};
</script>

<style lang="scss" scoped>
label {
  font-size: 20px;
  color: #000;
}
</style>
