<template>
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content center">
                <span class="card-title red-text text-darken-4">Pregunta De Seguridad</span>
            </div>
            <div class="card-content row">
                <div class="container">
                    <form method="post" @submit.prevent="formSecurityQuestion()">
                        <div class="col s12">
                            <div class='row'>
                                <h5 class="col s12 red-text text-darken-4 title center">Pregunta y Respuesta 1</h5>
                                <div class='input-field col m6 s12'>
                                    <span><b>Pregunta: </b> <i class="red-text text-darken4">*</i> </span>
                                    <input class='validate' type='text' name='question1' id='id_question1' autocomplete="off" title="Pregunta 1" required v-model="listQuestions[0].question" @blur="validateDataRequired" @keypress="validInput('g', 500, $event)"/>
                                    <span class="helper-text red-text" :data-error="errorQuestions[0].question" v-show="errorQuestions[0].question"></span>
                                </div>
                                <div class='input-field col m6 s12'>
                                    <span><b>Respuesta: </b> <i class="red-text text-darken4">*</i>  </span>
                                    <div class="col s11">
                                        <input class='validate' :type="removeAtriPassC" name='answer1' id='id_answer1' autocomplete="off" title="Respuesta 1" required v-model="listQuestions[0].answer" @blur="validateDataRequired" @keypress="validInput('g', 500, $event)"/>
                                        <span class="helper-text red-text" :data-error="errorQuestions[0].answer" v-show="errorQuestions[0].answer"></span>
                                    </div>
                                    <div class="col s1">
                                        <a @click="removeAtriPass()" class="btn btn-small btn-flat waves-effect waves-teal"><i class="fa fa-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class='row'>
                                <h5 class="col s12 red-text text-darken-4 title center">Pregunta y Respuesta 2</h5>
                                <div class='input-field col m6 s12'>
                                    <span><b>Pregunta: </b> <i class="red-text text-darken4">*</i> </span>
                                    <input class='validate' type='text' name='question2' id='id_question2' autocomplete="off" title="Pregunta 2" required v-model="listQuestions[1].question" @blur="validateDataRequired" @keypress="validInput('g', 500, $event)"/>
                                    <span class="helper-text red-text" :data-error="errorQuestions[1].question" v-show="errorQuestions[1].question"></span>
                                </div>
                                <div class='input-field col m6 s12'>
                                    <span><b>Respuesta: </b> <i class="red-text text-darken4">*</i>  </span>
                                    <input class='validate' :type="removeAtriPassC" name='answer2' id='id_answer2' autocomplete="off" title="Respuesta 2" required v-model="listQuestions[1].answer" @blur="validateDataRequired" @keypress="validInput('g', 500, $event)"/>
                                    <span class="helper-text red-text" :data-error="errorQuestions[1].answer" v-show="errorQuestions[1].answer"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class='row'>
                                <h5 class="col s12 red-text text-darken-4 title center">Pregunta y Respuesta 3</h5>
                                <div class='input-field col m6 s12'>
                                    <span><b>Pregunta: </b> <i class="red-text text-darken4">*</i> </span>
                                    <input class='validate' type='text' name='question3' id='id_question3' autocomplete="off" title="Pregunta 3" required v-model="listQuestions[2].question" @blur="validateDataRequired" @keypress="validInput('g', 500, $event)"/>
                                    <span class="helper-text red-text" :data-error="errorQuestions[2].question" v-show="errorQuestions[2].question"></span>
                                </div>
                                <div class='input-field col m6 s12'>
                                    <span><b>Respuesta: </b> <i class="red-text text-darken4">*</i>  </span>
                                    <input class='validate' :type="removeAtriPassC" name='answer3' id='id_answer3' autocomplete="off" title="Respuesta 3" required v-model="listQuestions[2].answer" @blur="validateDataRequired" @keypress="validInput('g', 500, $event)"/>
                                    <span class="helper-text red-text" :data-error="errorQuestions[2].answer" v-show="errorQuestions[2].answer"></span>
                                </div>
                            </div>
                        </div>
                         <center>
                                <div class="row">
                                    <div class="col s6">
                                        <button type='submit' class='btn waves-effect yellow darken-4 hoverable col s12'>Aceptar <i class="fa fa-floppy-o"></i></button>
                                    </div>
                                    <div class="col s6">
                                        <router-link :to="{name:'dashboard'}" class="btn waves-effect red darken-4 hoverable col s12">Regresar <i class="fa fa-reply"></i></router-link>
                                    </div>
                                </div>
                            </center>
                    </form>
                </div>    
            </div>
            <div class="card-action">
                <p><span class="red-text text-darken-4"> <i class="fa fa-info-circle"></i> </span> Los Campos Con <span class="red-text text-darken-4"> * </span> Son Requeridos</p>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import fetch from '../../helpers/Fetch.js';
import swal from 'sweetalert2';
import ValidInput from '../../helpers/ValidInput.js';
export default {
    name: "securityQuestion",
    data() {
        return {
            token: localStorage.getItem("token"),
            lenQuestion: 0,
            listQuestions: [
                {
                    question: "",
                    answer: ""
                }, 
                {
                    question: "",
                    answer: ""
                }, 
                {
                    question: "",
                    answer: ""
                }
            ],
            errorQuestions: [
                {
                    question: "",
                    answer: ""
                }, 
                {
                    question: "",
                    answer: ""
                }, 
                {
                    question: "",
                    answer: ""
                }
            ],
            showAnswer: false,
            tried: 0
        }
    },
    methods: {
        getListQuestion() {
            fetch.getData("/security-questions/", this.token)
            .then(data => {
                if (data.data.length >= 3) {
                    this.listQuestions = data.data;
                }
                this.lenQuestion = data.data.length;
            })
        },
        deleteQuestion(id, event) {
            fetch.deleteData("/security-questions/", { pk: id }, this.token)
            .then(data => {
                if (data.success) {
                    swal({
                        type: 'success',
                        text: "Elimando Exitosamente", 
                        showConfirmButton: false,
                        timer: 2000
                    });
                } else {
                    swal({
                        type: 'error',
                        text: data.msg, 
                        showConfirmButton: true,
                    });
                }
                this.getListQuestion()
            })
            .catch(error => {
                swal({
                    type: 'error',
                    text: "Error En El Servidor", 
                    showConfirmButton: true,
                });
            })
        },
        validInput(type, max, event) {
            ValidInput(type, max, event)
        },
        validateDataRequired(e) {
            let questions = this.listQuestions;
            for (let i = 0; i < questions.length; i++) {
                if (questions[i].question == "") {
                    this.errorQuestions[i].question = `Campo Requerido`;
                }
                if (questions[i].answer == "") {
                    this.errorQuestions[i].answer = `Campo Requerido`;
                }
            }
        },
        formSecurityQuestion() {
            let questions = this.listQuestions;
            let error = true;
            for (let i = 0; i < questions.length; i++) {
                if (questions[i].question == "" || questions[i].answer == "") {
                    swal({
                        type: 'error', 
                        text: 'Algunos Campos Son Requeridos',
                        showConfirmButton: true,
                        timer: 1500
                    })
                    error = false;
                }
            }
            let data = {
                question1: this.listQuestions[0].question, 
                answer1: this.listQuestions[0].answer,
                question2: this.listQuestions[1].question,
                answer2: this.listQuestions[1].answer,
                question3: this.listQuestions[2].question,
                answer3: this.listQuestions[2].answer,
                password: ""
            }
            swal({
                title: 'Ingrese La Contraseña Antes De Continuar',
                input: 'password',
                inputAttributes: {
                    autocomplete: 'off',
                    maxlength: '12'
                },
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Volver",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showLoaderOnConfirm: true,
                preConfirm: (password) => {
                    data.password = password
                    return fetch.postData('/security-questions/', data, this.token)
                    .then(data => {
                        if (!data.success) {
                            this.tried += 1;
                            if (this.tried >= 3) {
                                fetch.patchData("/account/", {is_active: false}, this.token)
                                localStorage.clear();
                                this.$router.push('/login');
                                return;
                            }else{
                                swal.showValidationError(data.msg)
                            }
                        }
                        return data;
                    })
                },
                allowOutsideClick: () => !swal.isLoading()
                })
                .then(data => {
                    let token = localStorage.getItem("token")
                    let user = JSON.parse(localStorage.getItem("user"))
                    if (token != null) {
                        swal({
                            type: 'success',
                            text: data.value.msg, 
                            showConfirmButton: false,
                            timer: 2000
                        });
                        this.getListQuestion();
                        this.showAnswer = false;
                        this.tried += 0;
                        localStorage.removeItem("user")
                        user.question = true
                        localStorage.setItem('user', JSON.stringify(user))
                    } else {
                        swal({
                            type: 'error',
                            text: "Se A Redirigido Al Login Por Motivos De Seguridad y Por Favor Seleccione La Opcion 'Olvido Contraseña'", 
                            showConfirmButton: true,
                        });
                    }
                })
                .catch(error => {
                    console.log(error)
                    swal({
                        type: 'error',
                        text: "Error En El Servidor", 
                        showConfirmButton: true,
                    });
                })
        },
        removeAtriPass() {
            this.showAnswer = !this.showAnswer
        }
    },
    computed: {
        removeAtriPassC(){
            return (this.showAnswer) ? "text" : "password"
        }
    },
    created() {
        this.getListQuestion()
    }
}
</script>

<style>

</style>
