<template>
    <div>
        <Navbar></Navbar>
        <div class="row">
            <ul class="tabs">
                <li class="tab col s4 l4 m4">
                    <a class="active red-text text-darken-4 hoverable" href="#profile">
                        Perfil
                    </a>
                </li>
                <li class="tab col s4 l4 m4">
                    <a class="red-text text-darken-4 hoverable" href="#changePassword">
                        Cambio De Contraseña
                    </a>
                </li>
                <li class="tab col s4 l4 m4">
                    <a class="red-text text-darken-4 hoverable" href="#securityQuestion">
                        Pregunta de Seguridad
                    </a>
                </li>
            </ul>
            <div class="opacity_back">
                <div class="container-fluid">
                    <div id="profile" class="col s12">
                        <Profile></Profile>
                    </div>
                    <div id="changePassword" class="col s12">
                        <ChangePassword></ChangePassword>
                    </div>
                    <div id="securityQuestion" class="col s12">
                        <SecurityQuestion></SecurityQuestion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Navbar from "../ext_components/Navbar.vue";
import init from "../../methods/init.js";
import Profile from "./Profile.vue";
import ChangePassword from './ChangePassword.vue';
import SecurityQuestion from './SecurityQuestion.vue';
export default {
  name: "settings",
  components: {
    Navbar,
    Profile,
    ChangePassword,
    SecurityQuestion
  },
  mounted() {
    init();
    document.title = 'Insopesca | Configuración';
  }
};
</script>

<style lang="scss" scoped>
.container-fluid {
    padding: 30px;

    @media (min-width: 320px) and (max-width: 1024px) {
        padding: 0px;
    }
}
.tabs .tab a{
    color:#B71C1C !important;
}

.tabs .tab a:hover {
    background-color:#08559c !important;
    color:#fff !important;
}

.tabs .tab a.active {
    background-color:#B71C1C !important;
    color:#fff !important;
}

// .tabs .indicator {
//     background-color: blue !important;
// }
</style>
